{% extends "blog/base_blog.jinja" %}
{% from 'macros/add_query.jinja' import add_query  %}
{% block child_block_include %}
<link rel="alternate" type="application/rss+xml" href="{{request.path}}/rss{{add_query(request.query_string)}}"/>
{% endblock %}
{% block blog_contents %}
    {% include 'components/blog_contents.jinja' %}
{%- endblock %}
{% block paging %}
    {%- if page_numbers is defined and page_numbers|length > 1 %}
    <div class="paging">
        {%- if page > 1 %}<a class="page-link" href="{{request.path}}?page={{page-1}}#m">‹</a>{% endif %}
        {%- for p in page_numbers %}
            {%- if p is none %}<span class="page-link ellipsis">…</span>
            {%- elif p == page %}<span class="page-link current">{{p}}</span>
            {%- else %}<a class="page-link" href="{{request.path}}?page={{p}}#m">{{p}}</a>{% endif %}
        {%- endfor %}
        {%- if page < (page_numbers|last) %}<a class="page-link" href="{{request.path}}?page={{page+1}}#m">›</a>{% endif %}
    </div>
    {%- else %}
        {{ super() }}
    {%- endif %}
{%- endblock %}
