{% extends "base.jinja" %}
{% block head %}
<style>#licence{color:#383b42}#licence h1{border-style:solid;border-width:0 0 3px;margin:0;text-indent:5px;padding-bottom:5px}.asset-licence-item{display:flex;flex-direction:column;gap:15px;list-style:None}.asset-licence-header>*{margin:0}.asset-licence-header h2{font-size:18px}.asset-licence-header h4{margin-top:2px;font-weight:600;font-size:10px;color:#5e6471}#asset-licences{margin-top:15px;padding:0 5px;display:flex;flex-direction:column;gap:15px}.asset-licence-item p{font-size:12px}.licence-description a{text-decoration:underline}</style>
{% endblock %}
{% block title %}{{translate(request.ctx.language, "openblur_licences_page_title")}}{% endblock %}

{% block center %}
<section id="licence" aria-label="Licences">
    <h1> Licences </h1>

    <ul id="asset-licences">
        <li class="asset-licence-item">
            <div class="asset-licence-header">
                <h2>Material Symbols</h2>
                <h4>By Google</h4>
            </div>
            
            <p class="licence-description"> Licensed under the Apache License Version 2.0</p>
        </li>

        <li class="asset-licence-item">
            <div class="asset-licence-header">
                <h2>Font Awesome</h2>
                <h4>By Font Awesome</h4>
            </div>

            <p class="licence-description"> Licensed under the CC BY 4.0 license</p>
        </li>

        <li class="asset-licence-item">
            <div class="asset-licence-header">
                <h2>Inter Font Family</h2>
                <h4>By Rasmus Andersson</h4>
            </div>

            <p class="licence-description"> Licensed under the SIL Open Font License 1.1</p>
        </li>
    </ul>
</section>
{%- endblock %}